<f:if condition="{configError}">
    <f:then>
        <b><f:translate key="error.message.title" /></b>
        <f:flashMessages as="flashMessages">
            <ul class="messages">
                <f:for each="{flashMessages}" as="flashMessage">
                    <li>{flashMessage.message}</li>
                </f:for>
            </ul>
        </f:flashMessages>
    </f:then>
    <f:else>
        <f:if condition="{loggedIn}">
            <f:then>
               <f:render partial="LoggedIn"/>
            </f:then>
            <f:else>
                <f:render partial="LoggedOut" arguments="{_all}"/>
            </f:else>
        </f:if>
    </f:else>
</f:if>